<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Sign In</h1>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">In order to chat, you must be signed in</h3>
            </div>
            <div class="panel-body">
                <p>Select the service you would like to sign in with: </p>
                <ul>
                    <li>
                        <a href="/auth/login/facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="/auth/login/github">Github</a>
                    </li>
                    <li>
                        <a href="/auth/login/google">Google</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>